body {
    min-width: 32px;
    font-size: 14px;
    background: #181818;
}

img {
    max-width: 100%;
    height: auto;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #181818;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

.cover-container{
    margin-top: 300px;
}

.cover-container .lead .btn {
    width: 10rem;
    color: whitesmoke;
    margin-top: 1rem;
}

.center-box {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: auto;
    color: aliceblue;
    margin-top: 15%;
}
.git-button {
    margin: 10px;
}
h1.typing {
  border-right: solid 3px rgba(0,255,0);
  white-space: nowrap;
  overflow: hidden;    
  font-size: 28px;
  color: rgba(255,255,255);
  margin: 10 auto;
  animation: animated-text 4s steps(100,end) 1s 1 normal both,
             animated-cursor 600ms steps(100,end) infinite;
}

/* Animation */

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 560px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0);}
  to{border-right-color: transparent;}
}
